.App {
  text-align: center;
  background-color: whitesmoke;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Header {
  background-color: rgba(0, 179, 179, 0.8);
  padding: 10px;
  font-weight: 800;
  vertical-align: top;
}

.DataUpdated {
  font-weight: 600;
  background-color: cadetblue;
  padding: 5px;
  margin-bottom: 10px;
}

.DataHeader {
  vertical-align: top;
  background-color: whitesmoke;

}

tr.Above_Fair_Value td,
tr.Above_Fair_Value th {
  background-color: rgba(255, 0, 0, 0.2);
}

tr.At_Fair_Value td,
tr.At_Fair_Value th {
  background-color: whitesmoke;
}

tr.In_the_Margin_of_Safety td,
tr.In_the_Margin_of_Safety th {
  background-color: rgba(0, 128, 0, 0.2);
}

tr.Optimal td,
tr.Optimal th {
  animation: blink 3s infinite;
}

@keyframes blink {
  0% {
    background-color: rgb(91, 225, 255);
  }
  50% {
    background-color: rgb(225, 141, 255);
  }
  100% {
    background-color: rgb(91, 225, 255);
  }
}

.InportantColumn {
  font-weight: 900;
}

.tableFixHead {
  overflow: auto;
  height: 74vh;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: whitesmoke;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px 16px;
}

th {
  background-color: whitesmoke;
}

button {
  border-radius: 5px;
  background-color: transparent;
  border: 1 px solid black;
}

.mainIcon {
  width: 65px;
  position: fixed;
  top: 10px;
  left: 10px;
}

.versionNumber{
  font-weight: 300;
  font-size: 11px;
}

.fileChooser{
  margin-top: 5px;
}

.legalInformation{
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 10px;
  font-weight: 400;
  border-radius: 5px;
  text-align: left;
}

a{
  color: black;
}
